p
{
    margin: 50px 530px;
	font: 50px bold;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border:none;
	outline:none;
	width: 400px;
	height: 100px;
}
select
{
    margin-left: 475px;
    display: block;
    background-color: whitesmoke;
    padding: 20px 140px;
	border-radius: 30px;
    line-height: 1;
    outline: none;
}
option
{
    /* display: block; */
    background-color: whitesmoke;
    padding: 20px 140px;
	border-radius: 30px;
    line-height: 1;
    outline: none;
}
.btn
{
	margin: 20px 475px;
	display: block;
	padding: 20px 200px;
	border-radius: 30px;
	background: whitesmoke;
	line-height: 1;
	outline: none;
	color:black;
	transition: all 0.3s linear;
}
.btn:hover,
.btn:focus
{
	background:white;
	color:black;
}
.btn1
{
	margin: 0px 475px;
	display: block;
	padding: 20px 200px;
	border-radius: 30px;
	background:whitesmoke;
	line-height: 1;
	outline: none;
	color:black;
	transition: all 0.3s linear;
}
.btn1:hover,
.btn1:focus
{
	background:white;
	color:black;
}

.btn2
{
	margin: 20px 525px;
	display: block;
	padding: 20px 40px;
	border-radius: 30px;
	background: skyblue;
	line-height: 1;
	outline: none;
	color:whitesmoke;
	cursor: pointer;
	transition: all 0.3s linear;
}
.btn2:hover,
.btn2:focus
{
	background:deepskyblue;
    color:white;
}

.btn3
{
	margin: -77px 690px;
	display: block;
	padding: 20px 38px;
	border-radius: 30px;
	background: skyblue;
	line-height: 1;
	outline: none;
	color:whitesmoke;
	cursor: pointer;
	transition: all 0.3s linear;
}
.btn3:hover,
.btn3:focus
{
	background:deepskyblue;
    color:white;
}
.i
{
    height: 40px;
    width: 40px;
    float:left;
    margin: 75px 70px;
    cursor: pointer;
}