p
{
    margin: 50px 530px;
	font: 50px bold;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border:none;
	outline:none;
	width: 400px;
	height: 100px;
}
.btn
{
	margin: -15px 475px;
	display: block;
	padding: 20px 200px;
	border-radius: 30px;
	background: whitesmoke;
	line-height: 1;
	outline: none;
	color:black;
	transition: all 0.3s linear;
}
.btn:hover,
.btn:focus
{
	background:white;
	color:black;
}
.btn1
{
	margin: 25px 475px;
	display: block;
	padding: 20px 200px;
	border-radius: 30px;
	background: whitesmoke;
	line-height: 1;
	outline: none;
	color:black;
	transition: all 0.3s linear;
}
.btn1:hover,
.btn1:focus
{
	background:white;
	color:black;
}
.btn2
{
	margin: -15px 475px;
	display: block;
	padding: 20px 200px;
	border-radius: 30px;
	background: whitesmoke;
	line-height: 1;
	outline: none;
	color:black;
	transition: all 0.3s linear;
}
.btn2:hover,
.btn2:focus
{
	background:white;
	color:black;
}
.btn3
{
	margin: 25px 475px;
	display: block;
	padding: 20px 200px;
	border-radius: 30px;
	background: whitesmoke;
	line-height: 1;
	outline: none;
	color:black;
	transition: all 0.3s linear;
}
.btn3:hover,
.btn3:focus
{
	background:white;
	color:black;
}

.btn4
{
	margin: 30px 585px;
	display: block;
	padding: 20px 70px;
	border-radius: 30px;
	background: SkyBlue;
	line-height: 1;
	outline: none;
	color:whitesmoke;
	cursor: pointer;
	transition: all 0.3s linear;
}
.btn4:hover,
.btn4:focus
{
	background:deepskyblue;
    color:white;
}
